@model LojadeJogos.Models.ModelCi
@{
    ViewBag.Title = "Cliente Cadastrado";
}

<h2>Cadastro concluido com sucesso.</h2>
<br />
<p>@Html.ActionLink("Voltar", "Cli")</p>
<p>@Html.ActionLink("Ver atributos cadastrados", "ListarCli")</p>