@model LojadeJogos.Models.ModelFunc
@{
    ViewBag.Title = "Funcionario cadastrado";
}

<h2>Cadastro concluido com sucesso.</h2>
<br />
<p>@Html.ActionLink("Voltar", "Func")</p>
<p>@Html.ActionLink("Ver atributos cadastrados", "ListarFunc")</p>
