@model LojadeJogos.Models.ModelGame
@{
    ViewBag.Title = "Jogo Cadastrado";
}

<h2>Cadastro concluido com sucesso.</h2>
<br />
<p>@Html.ActionLink("Voltar", "Jogo")</p>
<p>@Html.ActionLink("Ver atributos cadastrados", "ListarGame")</p>
