@{
    ViewBag.Title = "Home Page";
}
<h1>Seja bem vindo á sua tela de cadastro da Loja Games!</h1>

<h3>Utilize o cabeçalho para definir o que você deseja cadastrar: jogos, clientes ou funcionários.</h3>